<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <% include common/css.ejs %>

    <title><%= game.title %></title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-asphalt navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Descrify</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile">프로필</a></li>
                <li><a href="/logout">로그아웃</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="container-fluid">
                <div class="row">
                    <img src="/imgs/icon/1.png" alt="1" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/2.png" alt="2" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/3.png" alt="3" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/4.png" alt="4" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/5.png" alt="5" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/6.png" alt="6" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/7.png" alt="7" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/8.png" alt="8" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/9.png" alt="9" class="col-sm-1 btn btn-default">
                </div>
                <div class="row">
                    <img src="/imgs/icon/airplane.png" alt="airplane" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/automobile.png" alt="automobile" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/baby-boy.png" alt="baby-boy" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/balance.png" alt="balance" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/basketball.png" alt="basketball" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/bat.png" alt="bat" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/beach.png" alt="beach" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/blackboard.png" alt="blackboard" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/bonfire.png" alt="bonfire" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/boxing.png" alt="boxing" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/boy.png" alt="boy" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/calendar.png" alt="calendar" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/camera.png" alt="camera" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/castle.png" alt="castle" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/cat.png" alt="cat" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/check-mark.png" alt="check-mark" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/chicken.png" alt="chicken" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/cocktail.png" alt="cocktail" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/computin.png" alt="computin" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/couple.png" alt="couple" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/cycle.png" alt="cycle" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/dagger.png" alt="dagger" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/daughter.png" alt="daughter" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/dog.png" alt="dog" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/eye.png" alt="eye" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/family.png" alt="family" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/fish.png" alt="fish" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/flask.png" alt="flask" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/grandfather.png" alt="grandfather" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/grandmother.png" alt="grandmother" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/gun.png" alt="gun" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/hair.png" alt="hair" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/hamburger.png" alt="hamburger" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/hat.png" alt="hat" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/headphones.png" alt="headphones" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/heart.png" alt="heart" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/ice-cream.png" alt="ice-cream" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/island.png" alt="island" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/ladybug.png" alt="ladybug" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/leaf.png" alt="leaf" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/man.png" alt="man" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/nervous.png" alt="nervous" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/noodles.png" alt="noodles" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/olympic-games.png" alt="olympic-games" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/palette.png" alt="palette" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/palm-tree.png" alt="palm-tree" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/pencil.png" alt="pencil" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/planet-earth.png" alt="planet-earth" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/repairing.png" alt="repairing" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/rice.png" alt="rice" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/river.png" alt="river" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/sailing-boat.png" alt="sailing-boat" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/sandwich.png" alt="sandwich" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/santa-claus.png" alt="santa-claus" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/school.png" alt="school" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/shoes.png" alt="shoes" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/shovel.png" alt="shovel" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/stethoscope.png" alt="stethoscope" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/strawberry.png" alt="strawberry" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/syringe.png" alt="syringe" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/team.png" alt="team" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/tongue.png" alt="tongue" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/tooth.png" alt="tooth" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/touch-screen.png" alt="touch-screen" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/trees.png" alt="trees" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/tv-monitor.png" alt="tv-monitor" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/umbrella.png" alt="umbrella" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/violin.png" alt="violin" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/weightlifter.png" alt="weightlifter" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/woman.png" alt="woman" class="col-sm-1 btn btn-default">
                    <img src="/imgs/icon/wrench.png" alt="wrench" class="col-sm-1 btn btn-default">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <ul class="list-group" id="players">
            </ul>
            <div id="alerts">

            </div>
        </div>
    </div>
</div>

<% include common/js.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('/game');
    socket.on('hello', function (data) {
        var username = data.username;

        $('#alerts').append("<div class=\"alert alert-warning alert-dismissible\" id=\"alert-hello-" + username + "\" role=\"alert\">" +
            "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" +
            "<strong>" + username + "</strong> 님이 참가하였습니다." +
            "</div>"
        );
        setTimeout(function () {
            $('#alert-hello-' + username).alert('close');
        }, 2000);

        socket.emit('players');
    });
    socket.on('bye', function (data) {
        var username = data.username;

        $('#alerts').append("<div class=\"alert alert-danger alert-dismissible\" id=\"alert-bye-" + username + "\" role=\"alert\">" +
            "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" +
            "<strong>" + username + "</strong> 님이 퇴장하였습니다." +
            "</div>"
        );
        setTimeout(function () {
            $('#alert-bye-' + username).alert('close');
        }, 2000);

        socket.emit('players');
    });
    socket.on('players', function (data) {
        var $players = $('#players');
        $players.empty();

        var players = data.players;
        players.forEach(function (player) {
            if (player.username === '<%= user.username %>') {
                $players.append("<li class='list-group-item' style='background-color:#f0ad4e'>" + player.username + "</li>");
            } else {
                $players.append("<li class='list-group-item'>" + player.username + "</li>");
            }
        });
    });
    socket.emit('enter', {
        id: '<%= game.id %>',
        username: '<%= user.username %>'
    });

    socket.emit('players');
</script>
</body>
</html>
