<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <% include common/css.ejs %>

    <title><%= title %></title>

    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% include common/js.ejs %>
</body>
</html>
