<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <% include common/css.ejs %>

    <title>Descrify</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/intro.css">
</head>
<body>
<div class="intro-wrapper container">
    <div class="intro text-center">
        <h1>Descrify</h1>
        <p>당신의 표현력은 어느정도 입니까</p>

        <a href="/auth/login" class="btn btn-cool btn-lg" role="button">시작하기</a>
    </div>
</div>

<% include common/js.ejs %>
</body>
</html>
