<!DOCTYPE html>
<html>
<head>
    <% include common/meta.ejs %>
    <% include common/css.ejs %>

    <title>Descrify - 회원가입</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>
<div class="contaeiner">
    <h1 class="text-center">
        <a href="/" class="join-brand">Descrify</a>
    </h1>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">

            <% if (message.length > 0) { %>
            <div class="alert alert-warning alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p class="text-center"><%= message %></p>
            </div>
            <% } %>

            <form action="/auth/join" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <button type="submit" class="btn btn-cool btn-block">회원가입</button>
            </form>

            <a href="/auth/login" class="btn btn-cool btn-block">로그인</a>
        </div>
    </div>
</div>

<% include common/js.ejs %>
</body>
</html>
