.btn-asphalt {
    background: rgba(52, 73, 94, 1);
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: bold;
}

.btn-asphalt:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(52, 73, 94, 1);
}

.btn-asphalt:active, .btn-asphalt:focus {
    background: rgba(255, 255, 255, 1);
    color: rgba(52, 73, 94, 1);
}